@import url(./default.css);

body{
    font-family: 'Noto Serif TC','Cormorant Garamond', 'Cormorant Unicase', 'Fira Sans' ;
     
    
}

.wrapper{
    /* height: 4000px; */
    background-color: #E9E7DA;

    font-size: 20px;
    line-height: 200%;
    color: #000;
}

.header_red_Page{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* --------------------------- article first ---------------------------- */

.index_list{
    background-color: rgba(55, 63, 39, .5);
    color: #E9E7DA;
}

.index_range ul{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.index_range li{
    padding: 6px 12px;
    position: relative;
}

.index_range li + li:before{
    content: "/";
    position: absolute;
    left: 0;
}

.sort_time{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: 0 auto;
    margin-top: 150px;
}

.sort_time h3{
    font-size: 32px;
}

.sort_time span{
    font-size: 16px;
}

.article_title{
    width: 65vw;
    height: 30vh;
    border-top: 1px solid black;
    border-bottom: 1px solid #000;

    margin: 0 auto;
    margin-top: 10px;
}

.article_title h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 35px;
}

.article_title span{
    display: block;
    font-size: 24px;
    text-align: center;
    letter-spacing: .5rem;
}

.arti_first_block{
    width: 80vw;
    /* height: 640px; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;
}

.arti_first_block img{
    width: 35vw;
    height: 50%;
    display: block;
}

.arti_first_block ul{
    height: 580px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.arti_first_block li{
    width: 40vw;
    text-indent: 2em;
}

.arti_second_block{
    width: 65vw;
    margin: 0 auto;
    margin-top: 150px;
    text-indent: 2em;
    text-align: justify;
}

.arti_third_block{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 150px;
    /* outline: 1px solid red; */
}

.arti_third_block .img1{
    width: 42vw;    
    display: block;
    position: relative;
    bottom: 40px;
    
}

.arti_third_block .img2{
    width: 42vw;
    display: block;
    position: relative;
    top: 40px;
}

.arti_fourth_block{
    width: 65vw;
    margin: 0 auto;
    margin-top: 150px;
    text-indent: 2em;
    text-align: justify;

}

.arti_fifth_block{
    width: 45vw;
    margin: 0 auto;
    margin-top: 80px;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 200%;

}

.arti_sixth_block{
    width: 60vw;
    margin: 0 auto;
    margin-top: 80px;
    text-indent: 2em;
    text-align: justify;

}

.arti_line{
    background-color: black;
    width: 65vw;
    height: 2px;
    margin: 0 auto;
    margin-top: 100px;
}

.arti_bottom_title{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.arti_seven_block{
    width: 75vw;
    margin: 0 auto;
    padding-bottom: 100px;
}

.seven_img1{
    background-image: url(../IMG/article/article\ 1-4.jpg);
    background-size: cover;
    background-position: center center;
    width: 35vw;
    height: 70vh;
    /* height: 300px; */
}

.seven_img2{
    background-image: url(../IMG/article/article\ 1-5.jpg);
    background-size: cover;
    background-position: center center;
    width: 35vw;
    height: 70vh;
}

.arti_seven_block ul{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.title_time{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.title_time h6{
    font-size: 24px;
    font-weight: bold;
}
.title_time span{
    font-size: 16px;
}

.seven_p p{
    width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}