@import url(./default.css);

body{
    font-family: 'Noto Serif TC','Cormorant Garamond', 'Cormorant Unicase', 'Fira Sans' ;
    font-weight: 400px;
    color: #000000;
}


.headerPage{
    position: sticky;
    top: 0px; 
    z-index: 100;
    
}

/* --------------------------------- First ------------------------ */
.studio_bg {
    /* height: 1200px; */
    width: 100%;
    background-color: rgba(55, 63, 39, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.studio_title {
    width: 470px;
    color: #e1ce7a;
    /* position: absolute; */
    text-align: center;
    font-weight: bold;
    /* top: 104px; */
    font-size: 48px;    
}        

.studio_border {
    /* height: 1000px;
    width: 1150px; */
    height: 600px;
    width: 690px;
    border: 5px solid #D9D9D9;
    background-image: linear-gradient(to right, #D9D9D9 37%, transparent 37%);
    /* background-size: 760px 5px; */
    background-size: 500px 5px;
    background-repeat: repeat-x;
    border-top: none;

    
}

.swiper-slide {
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-justify-content: center; */
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.swiper-wrapper{
    position: unset;
}

.gallery-top {
    height: 80%;
    width: 100%;
    
}

.gallery-thumbs {
    /* height: 175px; */
    box-sizing: border-box;
    padding: 5px 0;
    margin-left: 40px;
    transition-duration: 0ms;
    margin-top: 0px; 
    
}

.gallery-thumbs .swiper-slide {
    /* width: 192px !important;
    height: 175px !important;
     */

     width: 112px!important;

    opacity: 0.4;
}

.gallery-thumbs img {
    width: 100%
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-top img {
    width: 600px;
    height: 400x;
}

/* ---------------------------------- Second ------------------------------------- */

.traffic{
    background-color: #E9E7DA;
    text-align: center;
}

.traffic_title{
    padding-top: 80px;
    font-size: 48px;
    font-weight: bold;
    color: #373F27;
}

.traffic_contain{
    max-width: 1280px;
    width: 90vw;
    
    display: flex;
    justify-content: center; 
    margin: 80px auto 0;
    padding-bottom: 80px;
}

.traffic_table{
    width: 500px; 
    text-align: left; 
    table-layout:fixed; 
    line-height: 150%;  
    margin: 0 auto;  
}

table {
    color: #000000;
    font-size: 18px;
    
}


.traffic_info_title {
    font-size: 20px;
    font-weight: bold;
}

.traffic_info{
    font-weight: 300px;
}

.traffic_table i{
    font-size: 20px;
}

.traffic_table td{
    padding-top: 20px;
}

.traffic_type{
    list-style: disc;
    padding-left: 2em;
}

.traffic_type li{
    margin-left: 2em;
    text-align: justify;
}


/* ----------------------------- Third --------------------------------------*/

.contactUs{
    background-color: rgba(55, 63, 39, 0.5);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contactUs_title{
    font-size: 48px;
    color: #541412;
    font-family: 'Cormorant Unicase';
    text-align: center;
}

.contactUs_table{
    display: flex; 
    justify-content: center;
}

.table_range{
    width: 60vw; 
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name_range, .email_range{
    text-align: left;
    width: 25vw;
}

.title_style{
    /* display: block;/ */
    font-size: 24px;
    font-weight: bold;
    color: #541412; 
    font-family: 'Cormorant Garamond';
}

.ques_category{
    background-color: #E9E7DA;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
}

  
.message_range, .question_range{
    text-align: left;
    width: 60vw;
    padding-top: 30px;
}

.question_range{
    display: flex;
}


.input{
    width: 25vw;
    height: 50px;
    border-bottom: 2px solid #541412;
    border-radius: unset;
}

.textarea_input{
    resize: none;
    width: 60vw;
    height: 150px;
    border-bottom: 2px solid #541412;
    border-radius: unset; 

}

.submit{
    display: flex; 
    justify-content: center; 
    padding-top: 54px;
}

.submit_button{
    /* background-color: #541412;  */
    height: 50px; 
    width: 200px; 
    color: rgba(233, 231, 218, 1); 
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

    position: relative;
    overflow: hidden;
    
    background-color:var(--background-color);
    --background-color:#541412;
    --accent-color:#823329;
}

.submit_button_slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:var(--accent-color);
    
    transition: all .3s ease-in-out;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left ;
}
.submit_button_slider:hover::before{
    transform: scaleX(1);
}
.submit_button_slider{
    z-index: 1;
    transition: color .3s  ease-in-out;
}
.submit_button_slider:hover{
    color: #E9E7DA;
    filter: drop-shadow(2px 2px 4px gray);
}



    
