@import url(./default.css);



/* --------------------------- Header ------------------------------- */

#header {
    font-family: 'Noto Serif TC','Cormorant Garamond', 'Cormorant Unicase', 'Fira Sans' ;
    background-color: #541412;
    color: #CDA34F;
    
    height: 70px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        
}

.header_range{
    max-width: 1280px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    position: relative;
}


.header_logo_img{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hamburger-menu {
    transform: translate(-100%, 125%);
    width: 25px;
    height: 20px;
    cursor: pointer;
    
    position: relative;     
}

.hamburger-menu span {
    display: block;
    
    height: 2px;
    width: 25px;
    background: #CDA34F;
    border-radius: 2px;
    transition: transform 0.5s ease;
    position: absolute;
}

.hamburger-menu span:nth-child(1) {
    top: 5px;
}

.hamburger-menu span:nth-child(2) {
    top: 15px;
}

.hamburger-menu.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {

    transform: translateY(-5px) rotate(-45deg);
}



/* ------------------------------ Dropdown ---------------------------------- */

.navbar-dropdown-bg {
    font-family: 'Noto Serif TC';
    /* width: 100vw; */
    height: 280px;
    background-color: #E9E7DA;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.navbar-dropdown {
    max-width: 1280px;
    text-align: center;
    display: flex;
    margin-top: 25px;
    flex-direction: row;
}

.navbar-dropdown div {
    width: 200px;
    color: #541412;
    font-size: 28px;
    font-weight: bold;

}
.dropdown_title{
    position: relative;
}

.dropdown_title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: #541412;

    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: -25%;
    

}

.navbar-dropdown div ul{
    margin-top: 20px;
}

.navbar-dropdown div li{
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.navbar-dropdown div a:hover{
    color: #CDA34F;
}

.navbar-dropdown div li:hover{
    color: #CDA34F;
}

.navbar-dropdown-bg {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 1;
    display: none;
}

.searchbox{
    display: none;
}

.fade_in {
    animation: fade_in 1s linear 0s;
}

.fade_out {
    animation: fade_out 1s linear 0s;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* chorme, edge, firefox隱藏滾動條 開始*/
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    overflow: auto;
}

/*chorme, edge, firefox隱藏滾動條 結束 */