@import url(./default.css);

body {
    background-color: #fff;
    font-family: 'Noto Serif TC', 'Cormorant Garamond', 'Cormorant Unicase', 'Fira Sans';
    font-size: 18px;
    line-height: 200%;
    text-align: center;
}

.contain {
    max-width: 1280px;
    margin: 0 auto;
}

.header_red_Page {
    position: sticky;
    top: 0;
    z-index: 10;
}

.top {    
    height: 100vh;
    background-image: url(../IMG/index/home1-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.top_logo {
    position: absolute;
    top: 0;
    right: 0;    
    left: 0;
    margin: auto;

    width: 13vw;   
}

.top_img {
    display: block;    
    width: 55%;
    height: 80%;
    /* width: 950px; */
    /* height: 630px; */
    max-width: 1920px;
    

    position: absolute;
    top: 0;
    right: 4%;
    bottom: 5%;
    left: 0;
    margin: auto;
    border: 5px solid white;

    object-fit: cover;
    object-position: center center;
}

.round {
    display: block;
    width: 55%;
    height: 80%;
    /* width: 950px;
    height: 630px; */
    max-width: 1920px;
    border: 5px solid white;

    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 4%;
    margin: auto;
}

.top video{
    display: none;
}

/* --------------------- second------------------------ */

.sec_block {
    margin: 0 auto 200px;
    position: relative;
    /* overflow: hidden; */
    
}


.sec_block h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    color: #143642;
}

.introduction{
    position: relative;
}

.sec_block img {
    width: 820px;
    height: 370px;
    display: block;
    margin: 0 auto;  
}

.sec_linear {
    width: 820px;
    height: 380px;
    background: linear-gradient(to right, #fff, transparent 70%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.sec_block p {
    display: block;
    width: 565px;
    height: 270px;
    background-color: rgba(84, 20, 18, 70%);
    color: #fff;
    padding: 30px 40px;
    border-radius: 15px;

    position: absolute;
    top: 0;
    right: 30%;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: justify;
}


.sec_block span {
    font-size: 170px;
    white-space: nowrap;
    -webkit-text-stroke: 2px gray;
    color: white;

    height: 170px; 
    top: 620px;
    position: absolute;
    right: -1500px;


    animation: run 20s linear infinite;
    /* z-index: 0; */
}

@keyframes run {
    0% {
        right: -1500px;
    }

    100% {
        right: 1500px;
    }
}


/* ------------- third ---------------- */

.third_block {

    background-color: rgba(205, 163, 79, 30%);

}

.third_top {
    display: flex;
    margin: 0 auto;
    width: 900px;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    
}

.third_block h2 {
    display: block;
    font-size: 52px;
    font-weight: bold;
    color: #541412;
    letter-spacing: 10px;
}

.third_block p {
    color: #541412;
    width: 80%;
    display: inline-block;
    text-align: left;

    font-size: 20px;
    text-align: justify;
}

.third_block .leather_color{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 60px;
    padding-top: 50px;
}

.third_block .leather_color li{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;    
}
.index_third_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}


.index_third_img{
    transform:scale(1);
    transition: transform 0.3s ease-in-out;
}

.index_third_img:hover {
    transform:scale(1.05);
    filter: drop-shadow(3px 3px 5px gray)
   
}

.note{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 70px;
    text-align: left;
    font-size: 16px;
}

.note ul{
    list-style:inside;
}
.third_bottom {
    /* outline: 1px solid red; */

    width: 225px;
    text-align: center;
    margin-top: 30px;
    margin-left: 950px;
    margin-bottom: 50px;   
    padding-bottom: 50px;
}
 
.third_bottom span {
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    color: #541412;  
    font-weight: bold;

    position: relative;
}

.third_bottom span::before{
    content: attr(data-hover);
    position: absolute;
    color: #CDA34F;
    width: 0;
    overflow: hidden;
    transition: .5s;
}

.third_bottom span:hover::before{
    width: 100%;
}

.third_bottom img {
    color: #541412;
    width: 225px;
    transform: scale(0.8);
}

/* ----------------------------- Fourth --------------------------------- */

.fourth_block {
    /* height: 900px; */
    margin: 0 auto;

}

.fourth_block ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

}

.fourth_block li {
    width: 370px;
}

.fourth_block li:nth-child(3) {
    flex-grow: 1;
    padding-right: 50px;
}

.fourth_one{
    display: flex;
    flex-direction: column;
}
.fourth_one h2 {
    display: block;
    font-size: 52px;
    letter-spacing: 20px;
    font-weight: bold;
    color: #143642;
    margin: 20px auto;
    writing-mode: vertical-lr;
}

.fourth_one img {
    width: 250px;
    height: 360px;
    margin: 40px auto;
    background-size: cover;
}

.fourth_two p {
    width: 310px;
    text-align: left;
    font-weight: normal;
    color: #143642;
    padding-top: 180px;
    padding-bottom: 120px;
}

.fourth_bottom {
    width: 220px;
    text-align: left;
    margin-left: 80px;
}

.fourth_bottom span {
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    color: #143642; 
    font-weight: bold; 

    position: relative;
}

.fourth_bottom span::before{
    content: attr(data-hover);
    position: absolute;
    color: #CDA34F;
    width: 0;
    overflow: hidden;
    transition: .5s;

    height: 60px;
}

.fourth_bottom span:hover::before{
    width: 100%;
}

.fourth_three {

    width: 495px;
    height: 665px;
    margin-top: 90px;
}

/* ----------------------- Fifth ----------------------- */

.fifth_block {
    background-color: #143642;
}

.fifth_mid{
    position: relative;
}


.fifth_pic1 {
    background-image: url(../IMG/index/home5-1.jpg);
    width: 250px;
    height: 310px;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    right: 60%;
    top: 50%;
    left: 0;
    bottom: 0;
    margin: auto;

}

.fifth_pic2 {
    background-image: url(../IMG/index/home5-2.jpg);
    width: 160px;
    height: 170px;
    background-size: cover;
    background-position: center center;

    position: absolute;
    right: 40%;
    top: 0;
    left: 0;
    bottom: 30%;
    margin: auto;


}

.fifth_pic3 {
    background-image: url(../IMG/index/home5-3.jpg);
    width: 160px;
    height: 215px;
    background-size: cover;
    background-position: center center;

    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 50%;
    margin: auto;
}

.fifth_pic4 {
    background-image: url(../IMG/index/home5-4.jpg);
    width: 265px;
    height: 220px;
    background-size: cover;
    background-position: center center;

    position: absolute;
    right: 0;
    top: 0;
    left: 50%;
    bottom: 25%;
    margin: auto;
}

.fifth_pic5 {
    background-image: url(../IMG/index/home5-5.jpg);
    width: 240px;
    height: 320px;
    background-size: cover;
    background-position: center center;

    position: absolute;
    right: 0;
    top: 55%;
    left: 65%;
    bottom: 0;
    margin: auto;
}

.fifth_mid h2 {

    display: block;
    font-size: 52px;
    font-weight: bold;
    color: #CDA34F;
    padding: 60px;
    /* writing-mode: vertical-lr; */

    padding-top: 500px;
}

.fifth_mid p {
    width: 360px;
    font-weight: normal;
    margin: 0 auto;
    text-align: left;
    color: #CDA34F;
}

.fifth_bottom {
    width: 200px;
    text-align: center;
    margin-left: 530px;
    margin-top: 60px;
    padding-bottom: 100px;;
}

.fifth_bottom span {
    font-family: 'Cormorant Garamond';
    font-size: 48px;
    color: #CDA34F;
    font-weight: bold;
    position: relative;
}
.fifth_bottom span::before{
    content: attr(data-hover);
    position: absolute;
    color: #E9E7DA;
    /* -webkit-text-stroke: 1px #CDA34F; */
    width: 0;
    overflow: hidden;
    transition: .5s;

    height: 60px;
}

.fifth_bottom span:hover::before{
    width: 100%;
}

/* ----------------------------- Sixth ---------------------------------- */

.sixth_block h2 {
    display: block;
    font-size: 52px;
    font-weight: bold;
    color: #143642;
    margin: 100px auto 80px;
}

.feedback_img1 {
    background-image: url(../IMG/index/home6-1.jpg);
    background-size: cover;
    background-position: center center;

    margin: 0 auto 40px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.feedback_img2 {
    background-image: url(../IMG/index/home6-2.jpg);
    background-size: cover;
    background-position: center center;

    margin: 0 auto 40px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.feedback_img3 {
    background-image: url(../IMG/index/home6-3.jpg);
    background-size: cover;
    background-position: center center;

    margin: 0 auto 40px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.sixth_block span {
    font-family: 'Fira Sans';
    font-size: 24px;
    font-weight: 500px;
    color: #143642;
}

.sixth_block p {
    font-weight: normal;
    font-size: 20px;
    color: #143642;
    width: 250px;
    text-align: justify;
    margin: 50px auto;
}

.first_feedback, .second_feedback, .third_feedback {
    float: left;
    width: 360px;
    height: 450px;
    margin: 0 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border:1px solid #E9E7DA;
    padding-top: 15px;
    border-radius: 15px;
}


/* ----------------------------------- */

.swiper {
    width: 100%;
    height: 480px;
    margin: 20px auto;
    position: unset;
}

/*清除預設輪播區塊z-index*/
.swiper-wrapper {
    z-index: unset;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-button-prev {
    margin-left: 15px;
}

.swiper-button-next {
    margin-right: 15px;
}


/*自定義箭頭圖片或樣式*/
/* .swiper-button-prev {
    background: url('../IMG/icon/pre.svg') no-repeat;
    position: relative;
    top: -238px;
    left: 1%;
    
} */

/* .swiper-button-next {
    background: url('../IMG/icon/next.svg') no-repeat;
    position: relative;
    top: -217px;
    left: 96%;
    z-index: unset;
} */

:root {
    --swiper-theme-color: #143642;
}

/* 清除預設箭頭
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next:after {
    display: none;
} */