@media screen and (max-width:414px) {
    
    .product_top h1{
        padding: 0;
        top: 18%;
    }

    .text_background{
        width: 80vw;
        bottom: 60%;
        outline: 2px double black;
        outline-offset: -5px;
    }

    /* ------------------------ */

    .firstline_product, .secondline_product, .thirdline_product{
        flex-direction: column;
        align-items: center;
    }

    .order option{
        font-size: 10px;
        
    }

    .product_page{
        padding: 50px 0;
    }
    /* ------------- */
    .before, .after{
        width: 50vw;
        height: 25vh;
    }

    .before_text, .after_text{
        font-size: 28px;
        width: 45vw;
    }

    .before_text img, .after_text img{
        transform: scale(.5);
    }

   }